/* Estilos generales */
.container {
  padding: 20px;
}

/* Espaciado */
.spacing-left {
  margin-left: 280px;
}

.spacing-top {
  margin-top: 80px;
}

/* Tipografía */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.letra {
  font-size: 14px;
}

/* Estilos para los botones */
.descomprimir button {
  margin: 6px;
  padding: 12px 24px;
  background-color: transparent;
  color: #ecab0f;
  border: 2px solid #ecab0f;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.descomprimir button:hover {
  background-color: #1e0fec;
  color: #fff;
  border-color: #770525;
}

.descomprimir button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

/* Estilos para la tabla */
.table-bordered {
  border-collapse: collapse;
  width: 100%;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 10px;
  text-align: center;
}

.table-bordered thead th {
  background-color: #f8f9fa;
}

.table-bordered tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para los botones genéricos */
.btn {
  margin: 4px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.btn-primary {
  background-color: rgba(17, 0, 255, 0.8);
  color: #ffffff;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #007bff;
}

.btn-warning {
  background-color: rgba(17, 0, 255, 0.8);
  color: #212529;
  transition: background-color 0.3s;
}

.btn-warning:hover {
  background-color: #2656be;
}

.btn-danger {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: background-color 0.3s;
}

.btn-danger:hover {
  background-color: #000000;
}
